// Color
$primary: #d8a1e5;
$on-primary: #100e17;
$background: #100f11;
$on-background: #eae6f2;
$surface: #1e1d20;
$on-surface: #d2ceda;
$on-surface-variant: #807d8a;
$on-surface-variant-2: #bdb9c2;
$outline: #3e3d40;
$bg-aqi-1: #98ff98;
$on-bg-aqi-1: #223322;
$bg-aqi-2: #ffe039;
$on-bg-aqi-2: #414111;
$bg-aqi-3: #f5ae2c;
$on-bg-aqi-3: #352913;
$bg-aqi-4: #ff6060;
$on-bg-aqi-4: #2c1010;
$bg-aqi-5: #ff77bd;
$on-bg-aqi-5: #331f2a;
$white: #ffffff;
$white-alpha-4: hsla(0, 0%, 100%, 0.04);
$white-alpha-8: hsla(0, 0%, 100%, 0.08);
$white-alpha-20: hsla(0, 0%, 100%, 0.2);
$white-alpha-40: hsla(0, 0%, 100%, 0.4);
$black-alpha-10: hsla(0, 0%, 0%, 0.1);

// Gradient colors
$gradient-1: linear-gradient(
  180deg,
  hsla(270, 5%, 7%, 0) 0%,
  hsla(270, 5%, 7%, 0.65) 65%,
  hsl(270, 5%, 7%) 100%
);
$gradient-2: linear-gradient(
  180deg,
  hsla(260, 5%, 12%, 0) 0%,
  hsla(260, 5%, 12%, 0.65) 65%,
  hsl(260, 5%, 12%) 100%
);

// font size
:root {
  --heading: 5.6rem;
  --title-1: 2rem;
  --title-2: 1.8rem;
  --title-3: 1.6rem;
  --body-1: 2.2rem;
  --body-2: 2rem;
  --body-3: 1.6rem;
  --label-1: 1.4rem;
  --label-2: 1.2rem;
}

// font weight
$weight-regular: 400;
$weight-medium: 500;
$weight-semiBold: 600;
$weight-bold: 700;

// Box shadow
$shadow-1: 0px 1px 3px hsla(0, 0%, 0%, 0.5);
$shadow-2: 0px 3px 6px hsla(0, 0%, 0%, 0.4);

// Border radius
$radius-28: 28px;
$radius-16: 16px;
$radius-pill: 500px;
$radius-circle: 50%;

// Transition
$transition: 100ms ease;

// Responive breakpoints
$bp-largest: 87.5em; // 1400px
$bp-large: 75em; // 1200px
$bp-medium: 48em; // 768px;
